WFX_USER_ID="your-user-id"
WFX_PASSWORD="your-password"
WFX_ERROR_WEBHOOK_URL=""
WFX_STYLE_OPTIONS_LIBRARY_URL=""
WFX_STYLE_OPTIONS_GITHUB_TOKEN=""
WFX_STYLE_OPTIONS_GITHUB_REPOSITORY="sieuxuan/WFX-APP"
WFX_STYLE_OPTIONS_GITHUB_BRANCH="main"
